<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Add Merchandise
          </div>
          <div class="card-body">
            <form (ngSubmit)="addMerch()" #addMerchForm="ngForm">
              <div class="form-group">
                <label for="imageUrl">Image:</label>
                <input type="file" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="merch.imageUrl" required>
              </div>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="merch.name" required>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="merch.price" required>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="merch.description" required></textarea>
              </div>
              <div>
                <label for="category">Category:</label>
                <select id="category" [(ngModel)]="merch.category" name="category" required>
                  <option value="album">Albums</option>
                  <option value="photocard">Photocards</option>
                  <option value="plushies">Plushies</option>
                  <option value="outfits">Outfits</option>
                  <option value="accessories">Accessories</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <button class="btn btn-primary">Add Merchandise</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  