<div class="container mt-4">
    <div *ngIf="users.length > 0; else noUsers">
      <h3 class="text-center">Liste des utilisateurs</h3>
      <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>Nom :</strong> {{ user.username }}<br>
            <strong>Email :</strong> {{ user.email }}<br>
            <strong>Rôle :</strong> {{ user.role }}
          </div>
          <div>
            <!-- Bouton pour modifier l'utilisateur -->
            <button class="btn btn-primary me-2" [routerLink]="['/users/update', user._id]">
              Modifier
            </button>
            <!-- Bouton pour supprimer l'utilisateur -->
            <button class="btn btn-danger" (click)="onDeleteUser(user._id)">
              Supprimer
            </button>
          </div>
        </li>
      </ul>
    </div>
    
    <ng-template #noUsers>
      <div class="alert alert-warning text-center" role="alert">
        Aucun utilisateur trouvé.
      </div>
    </ng-template>
  </div>
  